[submodule "reveal.js-menu"]
	path = menu
	url = https://github.com/denehyg/reveal.js-menu.git
[submodule "reveald3"]
	path = reveald3
	url = https://github.com/gcalmettes/reveal.js-d3
[submodule "simplemenu"]
	path = simplemenu
	url = https://github.com/Martinomagnifico/reveal.js-simplemenu.git
