[submodule "reveal.js-menu"]
	path = menu
	url = https://github.com/denehyg/reveal.js-menu.git
[submodule "reveald3"]
	path = reveald3
	url = https://github.com/gcalmettes/reveal.js-d3
[submodule "multiplex"]
	path = multiplex
	url = https://github.com/jacek-jonca/multiplex.git
[submodule "broadcast"]
	path = broadcast
	url = https://github.com/jacek-jonca/broadcast.git
